.subhead {
    color: $c_gray;
    font-size: em(22px);
    padding: 16px 30px;
    margin: 30px 0;

    &.s-no {
        margin: 30px 0 10px;
    }
    
    &.s-wl{
        background: #fff;
        position: relative;
        @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.10));


        a {
            position: absolute;
            top: 18px;
            right: 30px;    

            i{
               @include opacity(0);
            }

            &:hover i {
               @include opacity(1);
            }
        }
    }
    

}


.panel{

    .panel-head {
        position: relative;
        display: block;
        font-size: em(14px);
        font-weight: 600;
        line-height: em(24px);
        color: #fff;
        background: $c_gray;
        padding: 16px;
        margin: 0;

        .head-icon{
            float: left;
            margin: 0 10px 0 0;

            i{
                @include opacity(0);
            }
        }

        .arr-r {
            float: right;

            i{
                @include opacity(0);
            }        
        }

        &:hover {
            .head-icon i, .arr-r i{
                @include opacity(1);
            }
        }

    }

    .panel-entry {
        padding: 14px 20px;
        display: block;
        border-bottom: 1px solid $c_llgray;
        

        h4{
            margin: 0;
            font-size: em(14px);

            small {
                color: $c_mllgray;
            }
        }

        &:hover {

            h4, p, small {
                color: $c_orange;
            }

        }

    }

}


.search {

    display: table;
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 10;
    @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.10));
    
    .inner {
        display: table-cell;
        vertical-align: top;

        &.left {
            width: 70px;
        }
    }

    button {
        display: block;
        width: 100%;
        border: none;
        height: em(54px);
        background: $c_mgray;
        line-height: em(54px);
    }

    input[name="search"] {
        display: block;
        width: 100%;
        height: em(54px);
        //line-height: em(54px);
        text-indent: em(14px);
        border: none;
        outline: none;
    }


    .search-go-to {
        position: absolute;
        top: 15px;
        right: 20px;
        @include opacity(.5)
    }


}



.card {
    margin: 0 0 10px;
    @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.10));

    &.card-a {
        text-align: center;
        background: #fff;

        h4{
            background: $c_orange;
            color: #fff;
            font-size: em(14px);
            font-weight: 400;
            padding: 10px;
            margin: 0;
        }
        
        span {
            display: block;
            padding: 20px 10px;
            margin: 0;
            font-size: em(30px);
            font-weight: 600;
            color: $c_orange;

            small {
                font-size: em(6px);
                font-weight: 500;
                color: $c_gray;
                display: block;
            }
        }

    }

    &.card-b {
        background: #fff;

        .ctrl {
            background: $c_blue;
            padding: 10px;
            @extend %clearfix;

            .date {
                color: #fff;
                font-size: em(12px);
                margin: 6px 0 0;
                float: left;
            }

            .pin{
                float: right;
            }
        }

        .desc {
            padding: 20px 10px;

            h4{
                margin: 0;
            }
        }

    }


}


.pin{
    position: relative;
    width: 50px;

    .pin-track{
         background: $c_dblue;
         width: 100%;
         height: 18px;
         margin: 5px 0 0;
         @include round-corners(18px);
    
        a{
            background-color: $c_lblue;
            width: 28px;
            height: 28px;
            margin: -5px 0 0;
            float: left;
            text-align: center; 
            outline: none;
            @include round-corners(28px);
            @include transition(0.4s all ease);
            
            i {
                margin: 8px auto 0;
            }

            .pin-blue {
                display: none;
            }
        }

        a.on{
            background-color: #fff;
            @include transform(translateX(20px));

            .pin-white {
                display: none;
            }

            .pin-blue {
                display: block;
                @include transform(rotate(45deg));
            }

        }

    }
    

}